org-persist
*~
straight
tutorial
/server/
/places
/transient/
/url/
/.lsp-session-v1
/projects
/tree-sitter/
/.emacs.desktop
/.emacs.desktop.lock
/bookmarks
/eshell/
/reproduce.el
/eln-cache/
/.org-id-locations
.cache/lsp/npm/vscode-langservers-extracted
/elpa/
